<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-box">
        <div data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="header__top-logo">
          <a href="/">
            <img src="assets/img/logo-header.svg" alt="logo">
          </a>
        </div>
        <div data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="header__top-contacts">
          <a class="header__top-link phone" href="tel:+74952910914">
            <p class="header__top-link-text">+7 (495) <strong>291-09-14</strong>
            </p>
          </a>
          <a class="header__top-link mail" href="mailto:info@ezks-mp.ru">
            <p class="header__top-link-text">info<strong>@ezks-mp.ru</strong></p>
          </a>
        </div>

        <form data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="header__top-search"
          method="get" action="/search/">
          <input class="header__top-input" type="text" name="q" placeholder="Поиск по сайту">
          <input type="submit" value="" class="header__top-submit">
        </form>

        <div data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="header__top-contacts">
          <a class="header__top-link compare" href="/compare/">
            <p class="header__top-link-text">Сравнить</p>
          </a>
          <a class="header__top-link calculator" href="/calculator/">
            <p class="header__top-link-text">Калькулятор</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div data-aos="flip-up" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="header__bottom">
    <div class="container">

      <!-- Мобильное меню -->
      <div class="header-mobile">

        <button class="button catalog-button" id="hamburger-menu-mob">
          <img src="assets/img/burger.svg" alt="Меню">
        </button>
        <div class="catalog-mobile__container container" id="catalog-drop-mob" data-drop>
          <div class="catalog-mobile__logo">
            <a class="catalog-mobile__logo-link" href="http://">
              <img src="assets/img/logo-footer.svg" alt="Logo">
            </a>
            <button class="button catalog-mobile__logo-close" id="close-mob">
              <img src="assets/img/close.svg">
            </button>
          </div>


          <div class="catalog-mobile__navigation">
            <ul>
              {% for menu in navList %}
              <li class="catalog-mobile__button {% if menu.item %} accordion-mob {% endif %}">

                {% if 'item' not in menu %}

                <a class="catalog-mobile__menu-link" href="http:// ">
                  {{ menu.title }}

                </a>

                {% else%}
                <p class="catalog-mobile__menu-link">
                {{ menu.title }}
                </p>
                {% endif %}

                {% if menu.item %}
                <div class="panel">
                  <ul class=" catalog-mobile__links">
                    {% for item in menu.item %}

                    <a href="/" class="catalog-mobile__catalog-link">
                      {{item}}
                    </a>

                    {% endfor %}
                  </ul>
                </div>
                {% endif%}
              </li>
              {% endfor %}
            </ul>

          </div>
          <div class="catalog-mobile__btn-box">
            <a class="catalog-mobile__btn calculator white-btn" href="http://"> Калькулятор</a>
            <a class="catalog-mobile__btn compare white-btn" href="http://"> Сравнение</a>
            <a class="catalog-mobile__btn orange" href="http://"> Заказать продукцию</a>
          </div>
        </div>

        <form class="header__top-search" method="get" action="/search/">
          <input class="header__top-input" type="text" name="q" placeholder="Поиск по сайту">
          <input type="submit" value="" class="header__top-submit">
        </form>

      </div>
      <!--  -->
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link arrow" href="/about/">Компания</a>
            <ul class="nav__subnav-list">
              <li class="nav__subnav-item">
                <a class="nav__subnav-link" href="/about/">О компании</a>
              </li>
              <li class="nav__subnav-item">
                <a class="nav__subnav-link" href="/certificates/">Сертификаты</a>
              </li>
              <li class="nav__subnav-item">
                <a class="nav__subnav-link" href="/vacancy/">Вакансии</a>
              </li>
            </ul>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/products/">Продукция</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/services/">Услуги</a>
          </li>
          <li class="nav__item">
            <a class="nav__link arrow" href="/alloy_grades/">Марочник</a>
            <ul class="nav__subnav-list">
              <li class="nav__subnav-item">
                <a class="nav__subnav-link" href="/alloy_grades/pretsizionnye-splavy/">
                  Прецизионные магнито-мягкие сплавы
                </a>
              </li>
              <li class="nav__subnav-item">
                <a class="nav__subnav-link" href="/alloy_grades/elektrotekhnicheskie-stali/">
                  Электротехнические стали
                </a>

                <!-- <ul class="nav__subnav-list">
                  <li class="nav__subnav-item">
                    <a class="nav__subnav-link"
                      href="/alloy_grades/stal-sortovaya-elektrotekhnicheskaya-nelegirovannaya/">
                      Сталь сортовая
                      электротехническая нелегированная ГОСТ 11036-75
                    </a>
                  </li>
                  <li class="nav__subnav-item">
                    <a class="nav__subnav-link"
                      href="/alloy_grades/stal-elektrotekhnicheskaya-nelegirovannaya-tonkolistovaya-i-lenty/">Сталь
                      электротехническая нелегированная тонколистовая и ленты ГОСТ 3836-83</a>
                  </li>
                  <li class="nav__subnav-item">
                    <a class="nav__subnav-link"
                      href="/alloy_grades/prokat-tolstolistovoy-goryachekatanyy-iz-elektrotekhnicheskoy-nelegirovannoy-stali-tu-14-1-3070-80/">Прокат
                      толстолистовой горячекатаный из электротехнической нелегированной стали ТУ 14-1-3070-80</a>
                  </li>
                  <li class="nav__subnav-item">
                    <a class="nav__subnav-link"
                      href="/alloy_grades/stal-elektrotekhnicheskaya-polosovaya-universalnaya-tu-14-1-1189-74/">Сталь
                      электротехническая полосовая универсальная ТУ 14-1-1189-74
                    </a>
                  </li>
                </ul> -->
              </li>
              <li class="nav__subnav-item">
                <a class="nav__subnav-link" href="/alloy_grades/pretsizionnye-magnitotverdye-splavy/">
                  Прецизионные магнитно-твердые сплавы
                </a>
              </li>
              <li class="nav__subnav-item">
                <a class="nav__subnav-link" href="/alloy_grades/splavy-zharoprochnye/">
                  Сплавы
                  жаропрочные
                </a>
              </li>
              <li class="nav__subnav-item">
                <a class="nav__subnav-link" href="/alloy_grades/splavy-dlya-elektrovakuumnoy-promyshlennosti/">
                  Сплавы прецизионные с заданным ТКЛР
                </a>
              </li>
              <li class="nav__subnav-item">
                <a class="nav__subnav-link" href="/alloy_grades/nerzhaveyushchie-splavy/">
                  Сплавы прецизионные для упругих элементов
                </a>
              </li>
              <li class="nav__subnav-item">
                <a class="nav__subnav-link"
                  href="/alloy_grades/pretsizionnyy-splavy-i-elektrotekhnicheskie-stali-po-tekhnicheskim-usloviyam/">Прецизионный
                  сплавы и электротехнические стали по техническим условиям
                </a>
              </li>
              <li class="nav__subnav-item">
                <a class="nav__subnav-link" href="/alloy_grades/raznye-splavy/">
                  Разные сплавы
                </a>
              </li>
            </ul>
          </li>
          <li class="nav__item">
            <a class="nav__link arrow" href="/grades/">Сплавы</a>
            <ul class="nav__subnav-list">
              <li class="nav__subnav-item"><a class="nav__subnav-link" href="/grades/splavy-na-osnove-medi/">Сплавы на
                  основе меди</a></li>
              <li class="nav__subnav-item"><a class="nav__subnav-link" href="/grades/splavy-na-osnove-nikelya/">Сплавы
                  на основе никеля</a></li>
              <li class="nav__subnav-item"><a class="nav__subnav-link" href="/grades/splavy-na-osnove-kobalta/">Сплавы
                  на основе кобальта</a></li>
              <li class="nav__subnav-item"><a class="nav__subnav-link" href="/grades/splavy-na-osnove-margantsa/">Сплавы
                  на основе марганца</a></li>
            </ul>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/articles/">Статьи</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/news/">Новости</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/contacts/">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>