{% set title = "О компании" %}
{% extends "layouts/default.html" %}

{% block content %}

<main class="white">
  {% include "includes/breadcrumbs.html" %}
  <article data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-sine" class=" article about-page start-page">
    <section class="about-page__banner">
      <div class="container">
        {% include "includes/title.html" %}
      </div>
    </section>
    <section class="about-page__content">
      <div class="container">

        <p class="about-page__text start-page top-text">
          В настоящее время завод Мценскпрокат, сохранивший и преумноживший, технологическую базу и производственную
          культуру
          завода ЭЗКС, является одним из немногих российских предприятий, которые, наряду с производством типовой
          продукции, имеют
          возможность вести опытно-экспериментальную работу.
        </p>

        <div class="about__box">
          <div class="about__left">
            <div class="title__link-box">
              <h2 class="title">О Заводе</h2>
            </div>
            <div class="about__text-box">
              <p class="about__text strong">
                Наука, желание, труд и упорство - наша формула успеха. Мы энтузиасты своего дела.
              </p>
              <p class="about__text">
                В настоящее время завод Мценскпрокат, сохранивший и преумноживший, технологическую базу и
                производственную
                культуру завода ЭЗКС, является одним из немногих российских предприятий, которые,имеют возможность вести
                опытно-экспериментальную работу.
              </p>
            </div>
            <div class="about__link-box presentation">

              <button class="about-page__presentation-btn">
                Смотреть презентацию о нас
              </button>
              <!-- <a href="/about/" class="about__link-btn ">О компании</a>
              <a href="/about/#about_video" class="about__link-btn dashed">Презентация</a> -->
            </div>
          </div>
          <div class="about__img-box">
            <img class="about__img" src="../assets/img/about.jpg" alt="">
            <div class="about__img-desc orange">
              <p class="about__img-text-count">
                150+
              </p>
              <div class="about__img-text">
                Ассортимент продукции завода представлен более чем ста видами сплавов.
              </div>
            </div>
            <div class="about__img-desc dark-grey">
              <p class="about__img-text-count">
                150+
              </p>
              <div class="about__img-text">
                Ассортимент продукции завода представлен более чем ста видами сплавов.
              </div>
            </div>
          </div>
        </div>
        <div class="about-page__list">
          <h3 class="about-page__subtitle">
            Завод Мценскпрокат планирует в 5 раз увеличить объемы производства и штат в два раза.
          </h3>
          <ul>
            <li>
              <p>
                27/03/2020 начат монтаж новой плавильной вакуумной печи ИСВ-200 ёмкостью 200 кг.
              </p>
              <ul>
                <li>
                  <p>
                    27/03/2020 начат монтаж новой плавильной вакуумной печи ИСВ-200 ёмкостью 200 кг.
                  </p>
                </li>
                <li>
                  <p>
                    27/03/2020 начат монтаж новой плавильной вакуумной печи ИСВ-200 ёмкостью 200 кг.
                  </p>
                </li>
              </ul>
            </li>
            <li>
              27/03/2020 начат монтаж новой плавильной вакуумной печи ИСВ-200 ёмкостью 200 кг.
            </li>
          </ul>
          <p>
            Ввод в строй данной печи позволит1 существенно повысить качество продукции и производительность плавильного
            участка по
            вакуумному литью. Также планируется пополнение продуктовой линейки новыми вакуумными сплавами и прокатом из
            них.
          </p>

        </div>

        <div class="about-slider about-page__img-box">
          <img class="about-page__slider-img" src="../assets/img/about-page1.jpg" alt="">
          <img class="about-page__slider-img" src="../assets/img/about-page2.jpg" alt="">
          <img class="about-page__slider-img" src="../assets/img/about-page3.jpg" alt="">
        </div>
        <p>
          Ввод в строй <strong>данной печи</strong> позволит1 существенно повысить качество продукции и
          производительность плавильного
          участка по
          вакуумному литью. Также планируется пополнение продуктовой линейки новыми вакуумными сплавами и прокатом из
          них.
        </p>
        <div class="about-page__video-box">
          <video controls class="about-page__video">
            <source src="assets/img/about.mp4" type="video/mp4">
          </video>
        </div>
        <div class="about-page__text-box">
          <p>
            Ввод в строй <strong>данной печи</strong> позволит1 существенно повысить качество продукции и
            производительность плавильного
            участка по
            вакуумному литью. Также планируется пополнение продуктовой линейки новыми вакуумными сплавами и прокатом из
            них.
          </p>
          <p>
            Ввод в строй <strong>данной печи</strong> позволит1 существенно повысить качество продукции и
            производительность плавильного
            участка по
            вакуумному литью. Также планируется пополнение продуктовой линейки новыми вакуумными сплавами и прокатом из
            них.
          </p>
        </div>
      </div>

    </section>
  </article>
</main>

{% endblock %}