{% set title = "Сравнение материалов" %}
{% extends "layouts/default.html" %}

{% block content %}

<main class="grey">

  {% include "includes/breadcrumbs.html" %}

  <section data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-sine" class="article compare-page start-page">
    <div class="container">
      <div class="title__link-box">
        <h1 class="title">
          {{title}}
        </h1>
      </div>
      <ul class="compare-page__list">
        <li class="compare-page__item">
          <a class="compare-page__link" href="http://">
            76НХД
          </a>
          <button class="compare-page__item-close">
            <img src="assets/img/close.svg" alt="">
          </button>
        </li>
        <li class="compare-page__item">
          <a class="compare-page__link" href="http://">
            76НХД
          </a>
          <button class="compare-page__item-close">
            <img src="assets/img/close.svg" alt="">
          </button>
        </li>
        <li class="compare-page__item">
          <a class="compare-page__link" href="http://">
            76НХД
          </a>
          <button class="compare-page__item-close">
            <img src="assets/img/close.svg" alt="">
          </button>
        </li>
        <li class="compare-page__item">
          <a class="compare-page__link" href="http://">
            76НХД
          </a>
          <button class="compare-page__item-close">
            <img src="assets/img/close.svg" alt="">
          </button>
        </li>
        <li class="compare-page__item">
          <a class="compare-page__link" href="http://">
            76НХД
          </a>
          <button class="compare-page__item-close">
            <img src="assets/img/close.svg" alt="">
          </button>
        </li>
      </ul>

      <div class="compare-page__tables">
        <div class="table-elements horizontal horizontal-scroll">
          <table>
            <caption>Механические свойства</caption>
            <thead>
              <tr>
                <th>Fe</th>
                <th>C</th>
                <th>Si</th>
                <th>Mn</th>
                <th>Ni</th>
                <th>S</th>
                <th>P</th>
                <th>Cr</th>
                <th>Ti</th>
                <th>Al</th>
                <th>Cu</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>12,33 - 16,7</td>
                <td>до 0,03</td>
                <td>1,1 - 1,5</td>
                <td>0.6 - 1.1</td>
                <td>79 - 81.5</td>
                <td> до 0,02</td>
                <td>до 0,02</td>
                <td>2,6 - 3</td>
                <td>до 0,15</td>
                <td>до 0,15</td>
                <td>до 0,2</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="11">
                  <strong>σB</strong> - Временное сопротивление, МПа (кг/мм2)
                </td>
              </tr>
              <tr>
                <td colspan="11">
                  <strong>δ5</strong> - Относительное удлинение, %
                </td>
              </tr>
              <tr>
                <td colspan="11">
                  <strong>φ</strong> - Относительное сжатие, %
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="table-elements horizontal horizontal-scroll">
          <table>
            <caption>Механические свойства</caption>
            <thead>
              <tr>
                <th>Fe</th>
                <th>C</th>
                <th>Si</th>
                <th>Mn</th>
                <th>Ni</th>
                <th>S</th>
                <th>P</th>
                <th>Cr</th>
                <th>Ti</th>
                <th>Al</th>
                <th>Cu</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>12,33 - 16,7</td>
                <td>до 0,03</td>
                <td>1,1 - 1,5</td>
                <td>0.6 - 1.1</td>
                <td>79 - 81.5</td>
                <td> до 0,02</td>
                <td>до 0,02</td>
                <td>2,6 - 3</td>
                <td>до 0,15</td>
                <td>до 0,15</td>
                <td>до 0,2</td>
              </tr>
              <tr>
                <td>12,33 - 16,7</td>
                <td>до 0,03</td>
                <td>1,1 - 1,5</td>
                <td>0.6 - 1.1</td>
                <td>79 - 81.5</td>
                <td> до 0,02</td>
                <td>до 0,02</td>
                <td>2,6 - 3</td>
                <td>до 0,15</td>
                <td>до 0,15</td>
                <td>до 0,2</td>
              </tr>
              <tr>
                <td>12,33 - 16,7</td>
                <td>до 0,03</td>
                <td>1,1 - 1,5</td>
                <td>0.6 - 1.1</td>
                <td>79 - 81.5</td>
                <td> до 0,02</td>
                <td>до 0,02</td>
                <td>2,6 - 3</td>
                <td>до 0,15</td>
                <td>до 0,15</td>
                <td>до 0,2</td>
              </tr>  <tr>
                <td>12,33 - 16,7</td>
                <td>до 0,03</td>
                <td>1,1 - 1,5</td>
                <td>0.6 - 1.1</td>
                <td>79 - 81.5</td>
                <td> до 0,02</td>
                <td>до 0,02</td>
                <td>2,6 - 3</td>
                <td>до 0,15</td>
                <td>до 0,15</td>
                <td>до 0,2</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="11">
                  <strong>σB</strong> - Временное сопротивление, МПа (кг/мм2)
                </td>
              </tr>
              <tr>
                <td colspan="11">
                  <strong>δ5</strong> - Относительное удлинение, %
                </td>
              </tr>
              <tr>
                <td colspan="11">
                  <strong>φ</strong> - Относительное сжатие, %
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>


    </div>

  </section>

</main>


{% endblock %}