{% set title = "Ссылки" %}
{% set bodyClass = "link" %}

{% extends "layouts/default.html" %}

{% block content %}

<main class="white">
  <article>
    <div class="container">
      <div style="display: grid; gap: 10px;">
        <a href="main.html">Главная - main.html</a>
        <a href="about.html">О компании - about.html</a>
        <a href="contacts.html">Контакты - contacts.html</a>
        <a href="certificates.html">Сертификаты - certificates.html</a>
        <a href="news.html"> Список новостей - news.html</a>
        <a href="new-page.html">Новость внутри - new-page.html</a>
        <a href="products-list-page.html">Продукция - products-list-page.html</a>
        <a href="service-list-page.html">Услуги - service-list-page.html</a>
        <a href="catalog.html">Каталог - catalog.html</a>
      </div>
    </div>
  </article>
</main>
{% endblock %}