{% set title = "Новости" %}]
{% set subTitle = "Завод Мценскпрокат планирует в 5 раз увеличить объемы производства и штат в два раза." %}
{% extends "layouts/default.html" %}

{% block content %}

<article data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-sine" class="news-page grey start-page">
  <div class="container">
    {% include "includes/breadcrumbs.html" %}
    {% include "includes/title.html" %}

    <div class="new-constructor">
      <img src="assets/img/new-img1.jpg" alt="">
      <h2>
        Завод Мценскпрокат планирует в 5 раз увеличить объемы производства
        и штат в два раза.
      </h2>
      <ul>
        <li>
          
        </li>
      </ul>
    </div>
  </div>
</article>

{% endblock %}