{% set title = "Новости" %}]
{% set subTitle = "Завод Мценскпрокат планирует в 5 раз увеличить объемы производства и штат в два раза." %}
{% extends "layouts/default.html" %}

{% block content %}
<main class="white">
{% include "includes/breadcrumbs.html" %}

<article data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-in-sine" class="news-page white start-page article">
  <div class="container">
    {% include "includes/title.html" %}

    <div class="new-constructor">
      <img src="assets/img/new-img1.jpg" alt="">
      <h2>
        Завод Мценскпрокат планирует в 5 раз увеличить объемы производства
        и штат в два раза.
      </h2>
      <ul>
        <li>
          <p>
            27/03/2020 начат монтаж новой плавильной вакуумной печи <i> ИСВ-200 ёмкостью 200 кг.</i> 27/03/2020 начат
            монтаж новой
            плавильной вакуумной печи ИСВ-200 ёмкостью 200 кг. 27/03/2020 начат монтаж новой плавильной вакуумной печи
            ИСВ-200 ёмкостью 200 кг.
          </p>
          <ul>
            <li>
              <p>
                27/03/2020 начат монтаж новой плавильной вакуумной печи <i> ИСВ-200 ёмкостью 200 кг.</i> 27/03/2020
                начат
                монтаж новой
                плавильной вакуумной печи ИСВ-200 ёмкостью 200 кг. 27/03/2020 начат монтаж новой плавильной вакуумной
                печи
                ИСВ-200 ёмкостью 200 кг.
              </p>
            </li>
            <li>
              <p>
                27/03/2020 начат монтаж новой плавильной вакуумной печи <i> ИСВ-200 ёмкостью 200 кг.</i> 27/03/2020
                начат
                монтаж новой
                плавильной вакуумной печи ИСВ-200 ёмкостью 200 кг. 27/03/2020 начат монтаж новой плавильной вакуумной
                печи
                ИСВ-200 ёмкостью 200 кг.
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p>
            27/03/2020 начат монтаж новой плавильной вакуумной печи ИСВ-200 ёмкостью 200 кг.
          </p>
        </li>
        <li>
          <p>
            27/03/2020 начат монтаж новой плавильной вакуумной печи ИСВ-200 ёмкостью 200 кг.
          </p>
        </li>
      </ul>
      <ol>
        <li>
          <p>
            27/03/2020 начат монтаж новой плавильной вакуумной печи ИСВ-200 ёмкостью 200 кг. 27/03/2020 начат монтаж
            новой
            плавильной вакуумной печи ИСВ-200 ёмкостью 200 кг. 27/03/2020 начат монтаж новой плавильной вакуумной печи
            ИСВ-200
            ёмкостью 200 кг.
          </p>
        </li>
        <li>
          <p>
            27/03/2020 начат монтаж новой плавильной вакуумной печи ИСВ-200 ёмкостью 200 кг.
          </p>
        </li>
        <li>
          <p>
            27/03/2020 начат монтаж новой плавильной вакуумной печи ИСВ-200 ёмкостью 200 кг.
          </p>
        </li>
      </ol>

      <p>
        27/03/2020 начат монтаж новой плавильной вакуумной печи ИСВ-200 ёмкостью 200 кг. <strong>Ввод в строй
          данной</strong> печи
        позволит
        существенно повысить качество продукции и производительность плавильного участка по вакуумному литью. Также
        планируется
        пополнение продуктовой линейки новыми вакуумными сплавами и прокатом из них.
      </p>
      <h3>
        Завод Мценскпрокат планирует в 5 раз увеличить объемы производства и штат в два раза.
      </h3>
      <p>
        27/03/2020 начат монтаж новой плавильной вакуумной печи ИСВ-200 ёмкостью 200 кг. <strong>Ввод в строй
          данной</strong>
        печи
        позволит
        существенно повысить качество продукции и производительность плавильного участка по вакуумному литью. Также
        планируется
        пополнение продуктовой линейки новыми вакуумными сплавами и прокатом из них.
      </p>
      <p>
        27/03/2020 начат монтаж новой плавильной вакуумной печи ИСВ-200 ёмкостью 200 кг. <strong>Ввод в строй
          данной</strong>
        печи
        позволит
        существенно повысить качество продукции и производительность плавильного участка по вакуумному литью. Также
        планируется
        пополнение продуктовой линейки новыми вакуумными сплавами и прокатом из них.
      </p>

      <table>
        <thead>
          <tr>
            <th>
              <p>
                Название
              </p>
            </th>
            <th>
              <p>
                Значение
              </p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                Карбамидомеламиноформальдегидная смола
              </p>
            </td>
            <td>
              <p>
                64,5-79,2
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p>
                Карбамидомеламиноформальдегидная смола
              </p>
            </td>
            <td>
              <p>
                64,5-79,2
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p>
                Карбамидомеламиноформальдегидная смола
              </p>
            </td>
            <td>
              <p>
                64,5-79,2
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</article>


{% set newsSectionTitle = "Еще новости"%}
{% include "includes/news-section.html" %}
</main>
{% endblock %}