.about
  .title__link-box
    margin-bottom: 20px
  &__left
    display: grid
  &__box
    display: grid
    gap: 30px
    grid-template-columns: 450px auto
    @media all and ($l)
      grid-template-columns: 1fr 1fr
    @media all and ($m)
      grid-template-columns: 1fr
  &__text-box
    display: grid
    gap: 20px
  &__text
    font-weight: 400
    font-size: 18px
    line-height: 144%
    color: $black
    &.strong
      font-weight: 600
    @media all and ($s)
      font-size: 16px
      line-height: 162%
  &__link-box
    display: grid
    margin-top: 35px
    gap: 20px
    align-items: center
    grid-template-columns: 1fr 1fr
    @media all and ($m)
      max-height: 430px
    @media all and ($s)
      grid-template-columns: 1fr
    &.presentation
      grid-template-columns: 1fr
  &__link-btn
    text-align: center
    padding: 15px 40px
    font-weight: 700
    font-size: 15px
    color: #323538
    text-transform: uppercase
    border: 1px solid $orange
    border-radius: 5px
    transition: background $anim, border $anim, color $anim
    &.dashed
      border: 1px dashed #85909d
    &:hover
      color: #fff
      background: $orange
      border: 1px solid $orange
  &__img-box
    display: grid
    border-radius: 5px
    grid-template-areas: "img orange" "img grey"
    grid-template-columns: 302px auto
    @media all and ($l)
      grid-template-columns: auto auto
    @media all and ($m)
      grid-template-columns: 1fr 1fr
    @media all and ($s)
      grid-template-areas: "img" "orange" "grey"
      grid-template-columns: 1fr
      grid-template-rows: repeat(3, 1fr)
  &__img
    grid-area: img
    height: 100%
    object-fit: cover
    border-radius: 5px 0 0 5px
    @media all and ($m)
      width: 100%
    @media all and ($s)
      max-height: 250px
      object-position: center top
      border-radius: 5px 5px 0 0
  &__img-desc.dark-grey
    grid-area: grey
    border-radius: 0 0 5px 0
    @media all and ($s)
      border-radius: 0 0 5px 5px
  &__img-desc.orange
    grid-area: orange
    border-radius: 0 5px 0 0
    @media all and ($s)
      border-radius: 0
  &__img-desc
    padding: 28px
    display: grid
    gap: 10px
    @media all and ($s)
      padding: 24px 28px
  &__img-text-count
    font-weight: 600
    font-size: 52px
    letter-spacing: -0.02em
    color: #fff
  &__img-text
    font-weight: 400
    font-size: 18px
    line-height: 144%
    color: #fff

.about-page
  &__banner
    background: url(/assets/img/about-banner.jpg) no-repeat center top / cover
    min-height: 496px
    display: grid
    justify-content: center
    align-items: center
    @media all and ($m)
      min-height: 345px
    @media all and ($s)
      min-height: 208px
  .title
    color: #fff
    text-align: center
  .title__link-box
    margin-bottom: 0
  &__presentation-btn
    padding: 15px
    width: 100%
    background: $orange
    font-weight: 700
    font-size: 15px
    color: #fff
    border-radius: 5px
    text-transform: uppercase
    transition: background $anim
    &:hover
      background: $orange-hover
  &__text
    font-weight: 400
    font-size: 18px
    line-height: 144%
    color: #201d19
    &.top-text
      
