.news
  .container
    display: flex
  &__card
    display: grid
    grid-template-columns: 209px auto
    gap: 0
    background: #fff
    border-radius: 5px
    @media all and ($m)
      grid-template-columns: minmax(120px, 1fr) auto
    @media all and ($s)
      grid-template-columns: 1fr
      grid-template-rows: 217px auto
    &:hover
      .news__card-title
        color: $orange
      .news__card-img
        transform: scale(1.1)
  &__card-text
    padding: 20px 25px
    border-radius: 0 5px 5px 0
    display: grid
    gap: 10px
    align-content: space-between
    @media all and ($m)
      padding: 20px
    @media all and ($s)
      gap: 20px
  &__card-date
    font-weight: 600
    font-size: 16px
    line-height: 150%
    color: #727584
  &__card-title
    margin-block-start: 0
    margin-block-end: 0
    font-weight: 600
    font-size: 18px
    line-height: 144%
    color: $black
    transition: color $anim
  &__card-img-box
    display: grid
    overflow: hidden
    border-radius: 5px 0 0 5px
    @media all and ($s)
      border-radius: 5px 5px 0 0
  &__card-img
    object-fit: cover
    width: 100%
    height: 100%
    border-radius: 5px 0 0 5px
    transition: transform $anim
    @media all and ($s)
      border-radius: 5px 5px 0 0
  &__list
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 30px
    @media all and ($m)
      grid-template-columns: 1fr
  &__item
    @media all and ($m)
      margin-left: 20px
    @media all and ($xs)
      margin-left: 0px
.slick-dots
  position: absolute
  bottom: -30px
  list-style: none
  display: flex
  justify-content: center
  padding: 0
  margin: 0

  & li
    margin: 0 5px

  & li button
    font-size: 0
    width: 20px
    height: 3px
    background-color: #ccc
    border: none
    padding: 0
    cursor: pointer

  & li.slick-active button
    background-color: #333
